{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% block stats %}
{% endblock %}

{% oro_title_set({params : {"%entity.name%": entity.name|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
        'path' : path('tlt_ticket_equipment_update', { id: entity.id }),
        'entity_label': 'tlt.ticket.equipment.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
        'dataUrl': path('tlt_ticket_equipment_api_delete_equipment', {'id': entity.id}),
        'dataRedirect': path('tlt_ticket_equipment_index'),
        'aCss': 'no-hash remove-button',
        'id': 'btn-remove-user',
        'dataId': entity.id,
        'entity_label': 'tlt.ticket.equipment.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('tlt_ticket_equipment_index'),
    'indexLabel': 'tlt.ticket.equipment.entity_plural_label'|trans,
    'entityTitle': entity.name
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="pull-left">
        {% if entity.enabled %}
            <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled icon-circle"></i>{{ 'Active'|trans }}</div>
        {% else %}
            <div class="badge badge-disabled status-disabled"><i class="icon-status-disabled icon-circle"></i>{{ 'Inactive'|trans }}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block content_data %}
    {%- set equipmentInformation -%}
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {%- set equipmentTypeData -%}
            {%- if entity.equipmentType -%}
                <a href="{{ path('tlt_ticket_equipment_type_view', {'id': entity.equipmentType.id}) }}">
                    {{ entity.equipmentType }}
                </a>
            {%- endif -%}
            {%- endset -%}

            {{ UI.renderHtmlProperty('tlt.ticket.equipment.equipment_type.label'|trans, equipmentTypeData) }}
            {{ UI.renderProperty('tlt.ticket.equipment.name.label'|trans, entity.name) }}
            {{ UI.renderProperty('tlt.ticket.equipment.property.label'|trans, entity.property|trans) }}
            {{ UI.renderHtmlProperty('tlt.ticket.equipment.guarantee.label'|trans, entity.guarantee ? (entity.guarantee is not empty ? entity.guarantee|oro_format_date : null) : null) }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
    {%- endset -%}
    {% set dataBlocks = [
    {
    'title': 'tlt.ticket.equipment.block.general'|trans,
    'class': 'active',
    'subblocks': [
    {'data' : [equipmentInformation]}
    ]
    }
    ] %}


    {% set id = 'equipmentView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
